 @import "body.styl"
  .header
    width 100%
    height 70px
    line-height 70px
    background #ffffff
    position relative
    padding 0 70px
    box-sizing border-box
    min-width 200px
    .headerContainer
      width 100%
      height 70px
      display flex
      justify-content space-between
      text-align center
      line-height inherit
      .logo
        margin-top 15px
        line-height 70px
      .position
        color #000
        position absolute
        left 430px
        >span
          font-weight bolder
          font-family "微软雅黑"
      .intro
        width 700px
        height 70px
        margin-right 95px
        .introduce
          width 100%
          height 70px
          margin-left 140px
          >li
            float left
            margin-right 35px
            .point
              color black
              font-weight bolder
              font-family "微软雅黑"
              &:hover
                color red
            .first
              color red
              font-weight bolder
            .login
              color #ffffff
              background #E94840
              font-weight bolder
              border-radius 5px

  .guide
    width 100%
    height 420px
    position relative
    .bigPics
      width 100%
      height 420px
      .bigPicsList
        width 100%
        height 100%
        .bigPicsItem
          width 100%
          height 420px
          background-image url("../../html/images/banner1.jpg")
          background-position center
        .bigPicsItem01
          width 100%
          height 420px
          background-image url("../../html/images/banner2.jpg")
          background-position center
        .bigPicsItem02
          width 100%
          height 420px
          background-image url("../../html/images/banner3.jpg")
          background-position center



    .column
      width 180px
      height 420px
      background #757881
      text-align center
      z-index 100
      position absolute
      top 0
      left 100px
      .columnList
        width 100%
        height 100%
        overflow hidden
        .columnItem
          width 180px
          height 42px
          line-height 42px
          &:hover
            background #60646D
          >a
            color #ffffff
            font-family "微软雅黑"
            font-weight bolder
          >img
            margin-left 15px
            .columnOne
              width 180px
              height 420px
              background #fff
  .familyClean01
    width 100%
    height 496px
    background #ffffff
    padding 50px 0 0
    .titleClean
      font-size 28px
      font-family "微软雅黑"
      text-align center
    .cleanSmall
      width 100%
      height 25px
      box-sizing border-box
      padding 0 60px
      display block
      margin-top 15px
      font-size 22px
      text-align center
      >a
        color #3d3838
        &:hover
          color red
      .more
        float right
        color #898989
      .serviceTags
        width 100%
        height 386px
    .clearPerson
      position relative
      display block
      padding 0 70px
      box-sizing border-box
      .shopList
        padding 10px
        width 210px
        height 345px
        background #ffffff
        border 1px solid #EAEAEA
        margin 0 5px
        margin-top 30px
        float left
        >img
          text-align center
          width 210px
          height 210px
          vertical-align middle
        .serviceName
          font-size: 16px;
          padding: 10px 0;
          font-weight: 800;
          color: #000;
          height: 28px;
          overflow: hidden;
          width: 101%;
          white-space: nowrap;
          text-overflow: ellipsis
        .description
          color: #929292;
          font-size 13px
          line-height 18px
          width 208px
          height 58px
        .price
          color red
          font-weight 600px
          .priceOne
            font-size 20px
            font-weight bolder
          .btn
            background red
            color #ffffff
            padding 3px
            border-radius 3px
            margin-left 50px
  .familyClean02
    width 100%
    height 496px
    background #FBF8F8
    padding 50px 0 0
    .titleClean
      font-size 28px
      font-family "微软雅黑"
      text-align center
    .cleanSmall
      width 100%
      height 25px
      box-sizing border-box
      padding 0 60px
      display block
      margin-top 15px
      font-size 22px
      text-align center
      >a
        color #3d3838
        &:hover
          color red
      .more
        float right
        color #898989
      .serviceTags
        width 100%
        height 386px
    .clearPerson
      position relative
      display block
      padding 0 70px
      box-sizing border-box
      .shopList
        padding 10px
        width 210px
        height 345px
        background #ffffff
        border 1px solid #EAEAEA
        margin 0 5px
        margin-top 30px
        float left
        >img
          text-align center
          width 210px
          height 210px
          vertical-align middle
        .serviceName
          font-size: 16px;
          padding: 10px 0;
          font-weight: 800;
          color: #000;
          height: 28px;
          overflow: hidden;
          width: 101%;
          white-space: nowrap;
          text-overflow: ellipsis
        .description
          color: #929292;
          font-size 13px
          line-height 18px
          width 208px
          height 58px
        .price
          color red
          font-weight 600px
          .priceOne
            font-size 20px
            font-weight bolder
          .btn
            background red
            color #ffffff
            padding 3px
            border-radius 3px
            margin-left 50px

